<%- contentFor('body') %>
<h1>Dashboard</h1>
<div class="row mt-4">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Users</h5>
                <p class="card-text"><%= totalUsers %></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Active Subscriptions</h5>
                <p class="card-text"><%= activeSubscriptions %></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Signals</h5>
                <p class="card-text"><%= totalSignals %></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Revenue</h5>
                <p class="card-text">$<%= totalRevenue %></p>
            </div>
        </div>
    </div>
</div>