<h1>Користувачі</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Telegram ID</th>
            <th>Ім'я</th>
            <th>Тип підписки</th>
            <th>Дата закінчення підписки</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.telegramId %></td>
                <td><%= user.firstName %> <%= user.lastName %></td>
                <td><%= user.subscriptionType %></td>
                <td><%= user.subscriptionEndDate ? new Date(user.subscriptionEndDate).toLocaleDateString() : 'Немає' %></td>
                <td>
                    <a href="/admin/users/<%= user.id %>" class="btn btn-sm btn-info">Деталі</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>